@using TheKrystalShip.KGSM.Web.Services
@inject KgsmEventState EventState
@page "/"

<PageTitle>KGSM-web Home</PageTitle>

<h1>Hello, world!</h1>

KGSM Log.

<ul>
    @foreach (string stateEvent in EventState.Events)
    {
        <li>@stateEvent</li>
    }
</ul>

@implements IDisposable

@code {
    protected override void OnInitialized()
    {
        EventState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        EventState.OnChange -= StateHasChanged;
    }
}